In [8]:
n=int(input("Enter the number of your day\n"))
print("%s is"%n)
if n==0:
    print("Sunday")

elif n==1:
    print("Monday")
elif n==2:
    print ("Tuesday")
elif n==3:
    print("Wednesday")
elif n==4:
    print("Thursday")
elif n==5:
    print("Friday")
elif n==6:
    print("Saturday")
else:
    print("Invalid day")

Enter the number of your day
6
6 is
Saturday

In [2]:
username = input("Enter username: ")
password = input("Enter password: ")

if password=='Praveena@1' and username=='19KQ1A0599':
    
    print('Welcome %s'%username)
    

else:
    print('Invalid Username or Password')

Enter username: 19KQ1A0599
Enter password: Praveena@1
Welcome 19KQ1A0599

### Todays concepts
- Iterations
    - repeat the same work for no of times
    - for loop
        - no of iterations
    - while loop
        - condition check
- jumping statements
- functions 
- strings

In [ ]:
# range(start,final,step)
# for var in range(start,final,start):
    # statements

In [4]:
print("Praveena\n"*5)

Praveena
Praveena
Praveena
Praveena
Praveena

In [5]:
for var in range(0,10,1):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [6]:
for n in range(1,10):
    print(n)

1
2
3
4
5
6
7
8
9

In [12]:
for n in range(2,11,2):
    print(n)

2
4
6
8
10

In [18]:
for i in range(20+1):
    if i % 2 == 0:
        print(i ,end=' ')

0 2 4 6 8 10 12 14 16 18 20

In [ ]:
t = int(input('Enter table number'))
t_l = int(input('Enter table length'))
for i in range(1,t_l+1):
    # 17 * 1 = 17